%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Board
      %th Status
  %tbody
    - @games.each do |game|
      %tr
        %td= game.id
        %td= link_to game.board, game
        -if !game.finished?
          %td
            %span.label.label-info
              = "#{game.misses} / #{game.max_misses}"
        -elsif
          -game.won?
          %td
            %span.label.label-success
              Victory!
        -else
          %td
            %span.label.label-danger
              Defeat!
