:css
  body{
    text-align: center;
  }

.page-header
  %h1
    ="This is game #{@game.id}"

%pre= @game.board

%h3 Status
%p
  = "#{@game.misses} / #{@game.max_misses} misses"

%h3 Guessed
%p
  = @game.guessed

-# %form
-#   %input.form-control{ name: "guess", placeholder: "Guess a letter", maxlength: 1 }
-#   %button.btn.btn-default Guess
-#
-if !@game.finished?
  = simple_form_for :games, :html => { :class => 'form-horizontal' }, method: 'patch' do |f|
    = f.text_field :guess
    .form-actions
      = f.button :submit, :class => 'btn-primary', value: "Take a Guess"
      = link_to t('.cancel', :default => t("helpers.links.cancel")), games_path, :class => 'btn'
-elsif @game.won?
  %h1
    Congratulations, You Won! Please Enter Your Name.
    = simple_form_for @game, :html => { :class => 'form-horizontal' }, method: 'patch' do |f|
      = f.input :winner
      .form-actions
        = f.button :submit, :class => 'btn-primary', value: "Submit Your Name"
        = link_to t('.cancel', :default => t("helpers.links.cancel")), games_path, :class => 'btn'
-else
  %h1
    ="Sorry that you suck. The word was #{@game.answer}"
